{ # global options
    admin off # theres no need for the admin api in railway's environment
    persist_config off # storage isn't persistent anyway
    auto_https off # railway handles https for us, this would cause issues if left enabled
    log { # runtime logs
        format console # set runtime log format to console mode 
    }
    servers { # server options
        trusted_proxies static private_ranges # trust railway's proxy
    }
}

:{$PORT} { 
    log {
        format console 
    }

    reverse_proxy {$FRONTEND_HOST} 

    handle_path /api {
        reverse_proxy {$BACKEND_HOST} 
    }

    handle_path /api/* {
        reverse_proxy {$BACKEND_HOST} 
    }

    handle /admin {
        reverse_proxy {$ADMIN_HOST}
    }

    handle_path /admin/* {
        reverse_proxy {$ADMIN_HOST}
    }
}